.qty-btn {
	border-radius: 0px !important;
	width: 40px !important;
	height: 40px !important;
}

.qty-input {
	width: 40px !important;
	height: 40px !important;
	border: 0px !important;
}

.qty-control {
	border: 1px solid black;
}